ion-header{
    margin-bottom: 24px;
}

ion-title {
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
        font-size: 32px;
    }
}

.title-container{
    @media (min-width: 768px) {
        margin-block: 16px;
    }
}